* {
  padding: auto;
  margin: auto;
  font-family: sans-serif;
}

.App {
  padding: auto;
  margin: auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(107, 107, 107);
}

.calculator {
  background-color: rgb(86, 85, 85);
  border: 2px solid rgb(48, 47, 47);
  border-radius: 4px;
}

.buttons {
  display: grid;
  /* display: flex;
  justify-content: center; */
  /* grid-template-columns: repeat (auto-fit); */
}

.result {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: right;
  color: black;
  font-size: 20px;
}






